html {
  font-size: 125%;
}

h1 {
  line-height: 1.0 !important;
  font-size: 2.9rem !important;
  text-align: center !important;
}

h2 {
  font-size: 2rem !important;
  line-height: 1.25 !important;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center !important;
}

p {
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
  /* margin-top:  !important; */
}

code {
  font-size: 0.8rem !important;
}

li {
  font-size: 1.4rem !important;
  line-height: 2 !important;
}

img {
  margin: 0 auto;
}
