/* スライド固有のスタイル */

html {
    font-size: 125%;
}

h1 {
    line-height: 1.0 !important;
    font-size: 2.9rem !important;
    text-align: left !important;
}

h2 {
    font-size: 2rem !important;
    line-height: 1.25 !important;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: left !important;
}

h3 {
    opacity: 1 !important;
    font-size: 1.5rem !important;
    line-height: 1 !important;
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-align: left !important;
    letter-spacing: 0.05em !important;
    text-decoration: underline;
}

h4 {
    opacity: 0.6 !important;
    font-size: 1.2rem !important;
    line-height: 1.25 !important;
    margin-bottom: 1rem;
    text-align: left !important;
    letter-spacing: 0.05em !important;
}

p {
    font-size: 1.25rem !important;
    line-height: 1.5 !important;
    /* margin-top:  !important; */
}

li {
    font-size: 1.4rem !important;
    line-height: 2 !important;
}

li > ul > li {
    font-size: 87.5% !important;
}

img {
    margin: 0 auto;
}

code {
    font-size: 1rem !important;
    line-height: 1.25 !important;
}
